<%
    iframeUid = "responsive-iframe-" + Math.floor(Math.random() * 100000000);
    var isResultsMode = true;
%>
<div id="<%= iframeUid %>-container" style="margin-top:1em;">
	<h3 id="10822NoSVG" style="text-align:center; background-color:#333; color:#fff; border-top:0.5em solid #333; border-bottom:0.5em solid #333; font-family:Helmet,Freesans,Helvetica,Arial,sans-serif;">Your browser does not support this interactive content</h3>
</div>
<%
if (!scaffoldLite) {
%>
    <style>
    <%= include("../scss/news_special/loading.css") %>
    </style>
<%
}
%>
<script type="text/javascript"><%= include(debug === 'true' ? "../js/lib/news_special/iframemanager__host.js" : "../../tmp/iframemanager__host.js", {iframeUid: iframeUid, scaffoldLite: scaffoldLite}) %></script>
