.party-selection {
    font-family: Arial;
    font-size: 14px;

    label {
        display: block;
        font-weight: bold;
        margin-top: 10px;
    }

    .party-selection--input {
        border-radius: 0;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        -webkit-appearance: none;
        -webkit-border-radius: 0;
        background: #FFF url(../img/dropdown.png) center right no-repeat;
        border: 1px solid #404040;
        margin: 5px 0 10px;
        padding: 8px 30px 8px 8px;
    }
}
