<div class="map-key">
    <div class="map-key-party">
        <ol class="map-key-party-percentages">
            <li>
                <span class="first-label">0%</span>
                <span>5%</span>
            </li>
            <li><span>20%</span></li>
            <li><span>30%</span></li>
            <li><span>40%</span></li>
            <li><span>+50%</span></li>
            <li></li>
        </ol>
    </div>
</div>
