<div class="map-key">
    <div class="map-key-party">
        <ol class="map-key-party-percentages">
            <li>
                <span class="first-label">0%</span>
                <span>40%</span>
            </li>
            <li><span>50%</span></li>
            <li><span>60%</span></li>
            <li><span>70%</span></li>
            <li><span>+80%</span></li>
            <li></li>
        </ol>
    </div>
</div>
