<div class="party-selection">
    <label for="party-selection--input">Select a party:</label>
    <select name="party-selection--input" class="party-selection--input">
        <option value="CON" selected="selected">Conservative</option>
        <option value="GRN">Green party</option>
        <option value="LAB">Labour</option>
        <option value="LD">Liberal Democrats</option>
        <option value="PC">Plaid Cymru</option>
        <option value="SNP">Scottish National Party</option>
        <option value="UKIP">UKIP</option>
    </select>
</div>
